# Default: selected glibc toolchain
build --extra_toolchains=@zig_sdk//toolchain:linux_amd64_gnu.2.31

build:musl --platforms=@zig_sdk//platform:linux_amd64
build:musl --extra_toolchains=@zig_sdk//toolchain:linux_amd64_musl

build:profile --compilation_mode=opt
build:profile --copt=-O2
build:profile --copt=-g
build:profile --copt=-fno-omit-frame-pointer
build:profile --strip=never